# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
*.env
env/
venv/
ENV/
pip-wheel-metadata/
.installed.cfg
*.egg
MANIFEST

# Google App Engine
app.yaml.bak
appengine_generated/
# If you're using datastore indexes, you might want to ignore index.yaml too,
# depending on your deployment strategy.
# index.yaml

# Build artifacts
dist/
build/
*.zip
*.tar.gz
*.tgz

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
*~
